#root {
    height: 100vh;
    width: 100vw;
    background-color: #06070E;
    overflow: hidden;
}

body {
    margin: 0px;
}

.app-page {
    width: 100%;
    height: 100%;
}

* {    
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.column {
    height: 100%;
}

.white-button {
    background-color: rgba(255, 255, 255, 0.7) !important;
    cursor: pointer;
}

.orange-button {
    background-color: rgb(216, 100, 74) !important;
    cursor: pointer;
}

.white-button:hover {
    background-color: rgb(216, 216, 216) !important;
}

.orange-button:hover {
    background-color: rgba(255, 120, 90, 1) !important;
}

* {
    box-sizing: border-box;
}
