.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form * {
    width: 80%;
    background-color: transparent;
    border: solid white 1px;
    height: 20%;
}

input {
    width: calc(80% - 20px) !important;
    padding-left: 20px;
    color: white !important;
}

.form button {
    background-color: aliceblue;
}

.form button:hover {
    background-color: rgb(196, 224, 247);
    transform: scale(1.02);
}