.app-page.login {
    display: flex;
}

.column {
    height: 100%;
}

.margin {
    width: 35%;
}

.content {
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .logo-container{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.content .logo-container header {
    color: white;
    font-size: 4rem;
}

.content .logo-container img {
    max-height: calc(80% - 4rem);
    width: auto;
}

.content .form-container{
    width: 100%;
    height: 30%;
    border: white solid 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #0d0f1b;
}

.form-container .state-buttons {
    height: 20%;
}

.form-container .state-buttons button {
    height: 100%;
    width: 50%;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: #06070E;
}

.form-container .state-buttons :first-child {
    border-top-left-radius: 20px;
}

.form-container .state-buttons :last-child {
    border-top-right-radius: 20px;
}

.form-container .state-buttons .selected {
    border: none;
    cursor: auto;
    background-color: #0d0f1b;
}

.form-container .state-form {
    height: 80%;
    padding: 10px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .margin {
        width: 10%;
    }
    .content {
        width: 80%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .margin {
        width: 20%;
    }
    .content {
        width: 60%;
    }
}