.modal-window .modal-body #quiz-display {
    height: 92%;
    width: 90%;
    overflow-y: visible;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#quiz-display > *{
    width: 100%;
}

#quiz-display p{
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    color: black !important;
    font-size: 1.2rem;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.modal-window .modal-body #quiz-edit-buttons{
    height: 8%;
    width: 90%;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-window .modal-body #quiz-edit-buttons button{
    height: 100%;
    width: 25%;
    margin-left: 10px;
    border: 1px solid black;
    font-size: 1.2rem;
}

.modal-window .modal-body #quiz-edit-buttons button.disabled{
    color: rgba(0, 0, 0, 0.6);
    background-color: azure;
    cursor: auto;
}

#open-answer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.question-whole {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;    
    margin: 0 0 80px 0;
}

.question-delete-button {
    position: absolute;
    height: 40px;
    aspect-ratio: 1/1;
    left: 5px;
    top: 10px;
    font-size: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-content {
    background-color: white;
    width: 100%;
    height: 110px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.question-image-contaner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    max-width: 90%;
}

.question-image-contaner button {
    left: -20px;
    top: calc(50%-20px);
    height: 40px;
    aspect-ratio: 1/1;
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-image-contaner img {
    max-height: 290px !important;
    max-width: 95%;
}

.question-answers {
    width: 100%;
}

.question-answers.closed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.question-answers > .closed-answer {
    position: relative;
    background-color: white;
    border-radius: 20px;
    min-height: 40px;
    max-height: 90px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.question-answers > .closed-answer > textarea{
    width: 85%;
}


.my-checkbox {
    height: 70% !important;
    aspect-ratio: 1/1;
    margin-right: 10px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.my-checkbox.active {
    position: relative;
    background-color: green;
}

.my-checkbox.active::after {
    content: "✓";
    text-align: center;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
}

#prev-version {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 10px;
}

#prev-version span {
    color: white;
}

.closed-correct  {
    position: absolute;
    height: 100% !important;
    width: 7.5%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-right: 2px solid #06070E;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    top: 0;
    left: 0px;
    z-index: 100 !important;
}

.closed-correct:hover  {
    background-color: rgb(34, 129, 34);
}

.closed-correct.active {
    background-color: green;
}

.closed-correct::after {
    content: "✓";
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 33%;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .modal-window{
        width: 95% !important;
    }

    .add-quiz-button button {
        width: 45% !important;
        font-size: 4rem !important;
    };
}

@media only screen and (min-width: 600px) and (max-width: 992px) {

}

.add-quiz-button {
    background-color: rgba(255, 255, 255, 0.4);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.add-quiz-button button {
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    color: white;
    font-size: 5rem;
    height: 75%;
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-quiz-button button:hover {
    background-color: rgb(235, 169, 46);
    transform: scale(1.02);
}

.add-quiz-button button span{
    font-size: 1.2rem;
}

textarea, input {
    width: 100%;
    height: fit-content;
    color: black !important;
    font-size: 1.2rem;
    border-radius: 15px;
    overflow: hidden;
    resize: none;
}

.editable {
    background-color: white !important;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}