.cover {
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
}

.table {
    width: 80%;
}

.table-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table-row * {
    text-wrap: wrap;
    word-break: break-all;
    margin: 0;
    margin-bottom: 10px;
}

.table-row :first-child {
    font-weight: bold;
    width: 33%;
}

.table-row :nth-child(2) {
    width: 67%;
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.button-group button {
    width: 100%;
    height: 25%;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
}

.cover.add {
    background-color: rgba(255, 255, 255, 0.5);
    height: 150px;
    color: transparent;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.cover.add #create{
    position: absolute;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}

.cover.add #create button{
    border-radius: 100px;
    outline: none;
    border: none;
    color: white;
    font-size: 5rem;
    height: 75%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.cover.add #create button:hover{
    background-color: #FF785A;
    transform: scale(1.05);
}

.cover.add:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.01);
}


@media only screen and (max-width: 600px) {
    .cover {
        flex-direction: column;
    }

    .table {
        width: 100%;
    }

    .table-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .table-row > * {
        width: 100% !important;
    }

    .table-row :first-child {
        margin-bottom: 0;
    } 

    .button-group {
        flex-direction: row;
        width: 100%;
        height: 40px;
    }

    .button-group button {
        width: 30%;
        height: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .cover {
        flex-direction: column;
    }

    .table {
        width: 100%;
    }

    .table-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .table-row > * {
        width: 100% !important;
    }

    .table-row :first-child {
        margin-bottom: 0;
    } 

    .button-group {
        flex-direction: row;
        width: 100%;
        height: 40px;
    }

    .button-group button {
        width: 30%;
        height: 100%;
    }
}