.home {
    display: flex;
}

main {
    width: 90%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, 150px);
    gap: 10px;
    row-gap: 20px;
    column-gap: 20px;
}

main .cover {
    width: calc(100%-20px);
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    .home {
        flex-direction: column;
    }
    main {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {

}