.home {
    display: flex;
}

main {
    width: 90%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
}

main .cover {
    width: calc(50% - 60px);
    margin-right: 20px;
    margin-bottom: 20px;
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    .home {
        flex-direction: column;
    }
    main {
        width: 100%;
        height: calc(100% - 110px);
        padding: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
    }
    main .cover {
        width: calc(100%);
        margin: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    main {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
    }
    main .cover {
        width: calc(100%);
        margin: 0;
        margin-bottom: 20px;
    }

}