nav {
    background-color: #0d0f1b;
    width: 10%;
    padding-top: 30px;
    height: 100%;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px 0 10px;
    border-radius: 10px;
}

.menu-elem.active {
    background-color: #333a61;
}

.menu-elem:hover {
    transform: scale(1.05);
    background-color: #333a61;
}

.menu-elem img {
    max-width: 50%;
}

@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
        height: fit-content;
        position: absolute;
        bottom: 0;
        padding: 0;
        border-radius: 15px 15px 0 0;
    }
    #menu {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .menu-elem {
        width: calc(100%/3);
        font-size: 1.3rem;
        aspect-ratio: 1/0.5;
        padding: 0;
        border-radius: 15px 15px 0 0 ; 
        height: 100px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    nav {
        width: 20%;
    }
}