.cover {
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
}

table {
    width: 65%;
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
}

.button-group button {
    width: 100%;
    height: 33%;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
}

.cover.add {
    background-color: rgba(255, 255, 255, 0.5);
    color: transparent;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.cover.add #create{
    position: absolute;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}

.cover.add #create button{
    border-radius: 100px;
    outline: none;
    border: none;
    color: white;
    font-size: 5rem;
    height: 75%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.cover.add #create button:hover{
    background-color: #FF785A;
    transform: scale(1.05);
}

.cover.add:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.01);
}
