.modal-window.new-session {
    height: fit-content !important;
    width: 40% !important;
}

.modal-window.new-session .modal-body{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    color: white;
}

.modal-window.new-session .modal-body input{
    background-color: white;
    color: black !important;
    margin-bottom: 20px;
}

.modal-window.new-session .modal-body p{
    font-size: 1.2rem;
    margin: 10px;
}

.modal-window.new-session .modal-body #session-url{
    padding: 5px 10px;
    background-color: white;
    border-radius: 20px;
    color: black !important;
}