.modal-window.session-result {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.modal-window.session-result header {
    position: relative;
    background-color: #06070E;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    height: 30px;
    width: 100%;
    color: white;
    top: 0;
    left: 0;
}

.modal-body {
    overflow: hidden;
    width: 100%;
}

.result-table-div {
    width: 95%;
    height: fit-content;
    overflow: scroll;
}

.result-table {
    margin: 10px;
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    position: relative;
    color: black;
    font-size: 1.2rem;
    overflow: scroll;
}

th {
    background: rgb(245, 231, 153);
}

td, th { 
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding: 10px;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) and (max-width: 992px) {

}