.modal-window {
    width: 50%;
    height: 90%;
    background-color: #0d0f1b;
    border-radius: 20px;
    border: white solid 2px;
    max-height: 90%;
}

.modal-window header {
    background-color: #06070E;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    height: 30px;
    color: white;
}

.modal-window header button {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.modal-window header button:hover{
    text-shadow: 0px 0px 15px white;
}

.modal-window .modal-body{
    padding: 5px 10px 5px 10px;
    height: calc(100% - 50px);
}

.modal-window .modal-body #quiz-display {
    height: calc(95% - 20px);
    max-height: calc(95% - 20px);
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
}

.modal-window .modal-body #quiz-edit-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: calc(5% + 10px);
    padding: 5px 0px 5px 0px;
}

.modal-window .modal-body #quiz-edit-buttons button{
    width: 25%;
    height: 100%;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
}

.modal-window .modal-body #quiz-edit-buttons > :last-child{
    background-color: rgb(22, 223, 99);
}

.modal-window .modal-body #quiz-edit-buttons :only-child{
    background-color: rgb(228, 200, 44);
}

.modal-window .modal-body #quiz-edit-buttons button.disabled{
    color: rgba(0, 0, 0, 0.6);
    background-color: azure;
    cursor: auto;
}

#quiz-display {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#quiz-display p{
    background-color: white;
    border-radius: 20px;
    color: black !important;
    font-size: 1.2rem;
    margin-bottom: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#quiz-display > *{
    width: 85%;
}

#open-answer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.question-whole {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;    
    margin: 0 0 80px 0;
}

.question-delete-button {
    position: absolute;
    height: 40px;
    aspect-ratio: 1/1;
    left: -60px;
    top: calc(30%);
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.question-delete-button:hover {
    background-color: rgb(240, 93, 40);
    color: rgb(255, 255, 255);
    font-weight: 400;
    transform: scale(1.05);
}

.question-content {
    background-color: white;
    width: 100%;
    height: 110px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.question-content div.editable {
    overflow: hidden;
    width: 100%;
    min-height: 50px;
    margin-bottom: 15px;
}

.question-image-contaner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    max-width: 90%;
}

.question-image-contaner button {
    left: -40px;
    top: 110px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.question-image-contaner button:hover {
    background-color: rgb(240, 93, 40);
    font-weight: 400;
    transform: scale(1.05);
}

.question-image-contaner img {
    max-height: 290px !important;
    max-width: 95%;
}

.question-answers {
    width: calc(100% + 20px);
}

.question-answers.closed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.question-answers > .closed-answer {
    position: relative;
    background-color: white;
    border-radius: 20px;
    min-height: 40px;
    max-height: 90px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.question-answers > .closed-answer > textarea{
    width: 85%;
}


.my-checkbox {
    height: 70% !important;
    aspect-ratio: 1/1;
    margin-right: 10px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.my-checkbox.active {
    position: relative;
    background-color: green;
}

.my-checkbox.active::after {
    content: "✓";
    text-align: center;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
}

#prev-version {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 10px;
}

#prev-version span {
    color: white;
}

.closed-correct  {
    position: absolute;
    height: 100% !important;
    width: 7.5%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-right: 2px solid #06070E;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    top: 0;
    left: 0px;
    z-index: 100 !important;
}

.closed-correct:hover  {
    background-color: rgb(34, 129, 34);
}

.closed-correct.active {
    background-color: green;
}

.closed-correct::after {
    content: "✓";
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 33%;
    height: 100%;
    width: 100%;
}