.modal-window.quiz-delete{
    width: 30%;
    height: fit-content;
}

.modal-window.quiz-delete .modal-body {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.modal-window.quiz-delete .modal-body span{
    text-align: center;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#buttons button {
    width: 25%;
    min-height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    .modal-window.quiz-delete{
        width: 95%;
        height: fit-content;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {

}