.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form * {
    width: 80%;
    outline: none;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 15px;
    height: 20%;
}

input {
    width: calc(80% - 20px) !important;
    padding-left: 20px;
    color: white;
}

.form button {
    background-color: aliceblue;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form button:hover {
    background-color: rgb(196, 224, 247);
    transform: scale(1.02);
}